@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#contact #form {
  width:610px;
  float:left;
  margin-top: 20%;
  margin-bottom: auto;
}
#contact #form h2 {
  font: 48px 'Bree Serif', Georgia, serif;
}
#contact #form span {
  display:block;
  float:left;
  width:20%;
  padding-top:5px;
  font: 14px/16px'Bree Serif', Georgia, serif;
}
#contact #form input {
  float:left;
  width:80%;
  border:0px;
  color:#000;
  padding:10px 10px 10px 30px;
  font: 14px/20px'Bree Serif', Georgia, serif;
  margin-bottom:10px;
}
#contact #form textarea {
  float:left;
  border:0px;
  width:80%;
  height:140px;
  padding:10px 10px 10px 30px;
  font: 14px/20px'Bree Serif', Georgia, serif;
  color:#000;
}
#contact #form select {
    float:left;
  width:80%;
  border:0px;
  color:#222;
  padding:10px 10px 10px 30px;
  font: 14px/20px'Bree Serif', Georgia, serif;
  margin-bottom:10px;
  }
#contact #form input.name {
    border-radius: 10px;
    border: 1px solid #ccc;
}
#contact #form select {
    border-radius: 10px;
    border: 1px solid #ccc;
}
#contact #form textarea.Alamat {
    border-radius: 10px;
    border: 1px solid #ccc;
}
#contact #form input.submit {
  cursor: pointer;
  width:125px;
  height:40px;
  float:right;
  padding:0px 0px 5px 0px;
  margin:30px 0px 0px 0px;
  background:#292256;
  color:#F1F1F1;
  border-radius: 30px;
  font: 14px/16px'Bree Serif', Georgia, serif;
  transition: 0.3s;


}
.submit-menu {
    cursor: pointer;
    width:300px;
    padding: 20px 20px 20px 20px;
    background:#fff;
    color:#000;
    border-radius: 30px;
    font: 16px sans-serif;
    font-weight: 800;
    transition: 0.3s;
    border: 10px solid #292256;
    position: fixed;
    bottom: 13%;
    align-items: center;


  }
  .submit-menu:hover {
    background-color: #FFF000;
    color: #000;
    border: 10px solid #FFF000;
  }
  .btn-mulai {
    cursor: pointer;
    width:130px;
    padding: 10px;
    background:#FFF000;
    color:#292256;
    border-radius: 30px;
    font: 16px sans-serif;
    font-weight: 800;
    transition: 0.3s;
    margin-top: 30px;


  }
  .btn-mulai:hover {
    background-color: #fff;
    color: #000;
  }
  #contact #form input.submit:hover {
    background-color: #FFF000;
    color: #000;
    border: 2px solid #292256;
  }
#contact #captcha span{
  width: 44px;
}
#contact #captcha input{
  background: url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png) no-repeat scroll 0 0 transparent;
  margin: 5px 0 0;
  padding: 0;
  border: medium none;
  cursor: pointer;
  width: 15px;
}
.text-menu {
    width: 80%;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    margin: auto;
}
